In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#remove a duplicate in a list
a=[1,2,4,6,7,8,1,3,4]
def remove_duplicates(values):
    output = []
    seen = set()
    for value in values:
        # If value has not been encountered yet,
        # ... add it to both list and set.
        if value not in seen:
            output.append(value)
            seen.add(value)
    return output
print(remove_duplicates(a))

[1, 2, 4, 6, 7, 8, 3]

In [3]:
 #remove a duplicate in a list
np.unique(a)

array([1, 2, 3, 4, 6, 7, 8])

In [4]:
#drop duplicates in a data frame
a=np.array([[1,1,2],[1,3,3],[5,6,6]])
b=pd.DataFrame(a,columns=list('ABC'))
print b
print b.drop_duplicates(subset='A', keep="first")

   A  B  C
0  1  1  2
1  1  3  3
2  5  6  6
   A  B  C
0  1  1  2
2  5  6  6

##You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests?

In [5]:
#python
requested_accepted=pd.DataFrame(
    {'time':['5/17/2017','5/18/2017','5/20/2017'],
     'accepter_id':['10001','10002','1003'],
     'requester_id':['1003', '1002','1005']
})
friend_reqested=pd.DataFrame(
    {'time':['4/17/2017','4/18/2017','4/19/2017','4/21/2017','4/23/2017'],
     'sent_to_id':['1','2','3','4','5'],
     'requester_id':['1001', '1002','1003','1004','1005']
})
len(np.unique(requested_accepted['requester_id']))/float(len(np.unique(friend_reqested['requester_id'])))

0.6

In [6]:
#using SQL 
%load_ext sql
%sql sqlite://

'Connected: None@None'

In [7]:
%%sql
Create Table requested_accepted(time varchar(10), 
                                accepter_id varchart(10), 
                                requester_id varchart (10));

Done.

[]

In [8]:
%%sql
Insert into requested_accepted Values('5/17/2017','10001','1003');
Insert into requested_accepted Values('5/18/2017','10002','1002');
Insert into requested_accepted Values('5/20/2017','10003','1005');

1 rows affected.
1 rows affected.
1 rows affected.

[]

In [9]:
%sql select * from requested_accepted

Done.

[(u'5/17/2017', u'10001', u'1003'),
 (u'5/18/2017', u'10002', u'1002'),
 (u'5/20/2017', u'10003', u'1005')]

In [10]:
%%sql
Create Table friend_reqested (time varchar(10), 
                                sent_to_id varchart(10), 
                                requester_id varchart (10));

Done.

[]

In [11]:
%%sql
Insert into friend_reqested Values('4/17/2017','1','1001');
Insert into friend_reqested Values('4/18/2017','2','1002');
Insert into friend_reqested Values('4/19/2017','3','1003');
Insert into friend_reqested Values('4/21/2017','4','1004');
Insert into friend_reqested Values('4/23/2017','5','1005');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [12]:
%sql select * from friend_reqested

Done.

[(u'4/17/2017', u'1', u'1001'),
 (u'4/18/2017', u'2', u'1002'),
 (u'4/19/2017', u'3', u'1003'),
 (u'4/21/2017', u'4', u'1004'),
 (u'4/23/2017', u'5', u'1005')]

In [27]:
%%sql
Select Count(distinct requester_id) as numberofrequested into temp1
from friend_reqested

(sqlite3.OperationalError) near "into": syntax error [SQL: u'Select Count(distinct requester_id) as numberofrequested into temp1\nfrom friend_reqested']

In [42]:
%%sql
select CAST(count(distinct R.requester_id) AS FLOAT)/count(distinct F.requester_id) as accptedrate
from friend_reqested F
left join requested_accepted R
on F.requester_id=R.requester_id

Done.

[(0.6,)]